/* Hide scrollbar */
#carousel #cards-container {
  scrollbar-width: none; /* Firefox and latest Chromium */
}
#carousel #cards-container::-webkit-scrollbar {
  display: none; /* Safari and legacy Chromium */
}

#carousel {
  /* 
    @screen-width:320px, card: 200px
    @screen-width:1920px, card: 600px
  */
  --card-size: clamp(200px, 25dvw + 120px, 600px);

  grid-column: 1/ -1;
  grid-row: 2 / -1;
  align-self: end;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;

  /* ! DEBUGGING STYLE 
  display: none; 
  background-color: rgba(255, 255, 0, 0.5);
  border: 2px solid red;
  */
}

@property --offset1 {
  syntax: "<percentage>";
  initial-value: -2%;
  inherits: false;
}

@property --offset2 {
  syntax: "<percentage>";
  initial-value: -2%;
  inherits: false;
}

@property --offset3 {
  syntax: "<percentage>";
  initial-value: -2%;
  inherits: false;
}

#carousel #cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  /* Disable for JS users */
  flex-wrap: wrap;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100dvw;

  /* Important for swiping */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  /* Perspective settings */
  perspective: calc(var(--card-size) * 1.6);
  perspective-origin: center center;
  transform-style: preserve-3d;

  overscroll-behavior: contain;
  overflow-x: scroll;
  overflow-y: visible;

  /* Line effect settings */
  --line-thin: 1px;
  --line-c: #9d9d9d; /* originally set to: #494949 */
  --line-step1: 10%;
  --line-step2: calc(var(--line-step1) + var(--line-thin));
  --line-step3: 90%;
  --line-step4: calc(var(--line-step3) + var(--line-thin));

  /* Glow effect settings */
  --glow: 2px;
  --glow-c: #cfc2e3;
  --glow-step1: calc(10% - (var(--glow) / 2));
  --glow-step2: calc(10% + (var(--glow) / 2));
  --glow-step3: calc(90% - (var(--glow) / 2));
  --glow-step4: calc(90% + (var(--glow) / 2));

  /* Line effect settings - animation  */
  /* varying speed: from -2% to -2%; */
  /* timing-function: .53,.83,.5,.24* */
  --time: 10s;
  --delay: 1.5s;
  --timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  animation-name: spinLine;
  animation-duration: var(--time);
  animation-delay: var(--delay);
  animation-timing-function: var(--timing-function);
  animation-fill-mode: both;

  --mask: radial-gradient(circle at center, black 50%, transparent 100%);
  --mask-line: conic-gradient(
    rgba(0, 0, 0, 0.5) var(--offset3),
    rgba(0, 0, 0, 0.75) var(--offset2),
    black var(--offset1),
    rgba(0, 0, 0, 0.5) var(--offset1)
  );
  --mask-glow: conic-gradient(
    transparent var(--offset3),
    rgba(0, 0, 0, 0.3) var(--offset2),
    black var(--offset1),
    rgba(0, 0, 0, 0.3) calc(var(--offset1) + 1%),
    transparent calc(var(--offset1) + 2%)
  );

  /* ! DEBUGGING STYLE 
  display: none;
  background-color: rgba(0, 4, 255, 0.5);
  border: 2px solid yellow;
  */
}

@media (max-aspect-ratio: 1/1) {
  #carousel #cards-container {
    /* 
      @screen-width:320px, card: 200px
      @screen-width:1024px, card: 600px
    */
    --card-size: clamp(200px, 57dvw + 18px, 600px);
    perspective: calc(var(--card-size) * 1.6);
  }
}

#carousel .card {
  opacity: 1;
  width: var(--card-size);
  height: var(--card-size);
  flex: 0 0 auto;
  font-size: calc(var(--card-size) * 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 600ms linear; /* cubic-bezier(0.34, 1.1, 0.64, 1) */
  /* Important for swiping */
  scroll-snap-align: center;

  padding: 5%;
  color: rgb(255, 255, 255);
  position: relative;

  /* DEBUGGING STYLES 
  display: none;
  background-color: yellow; */
}

/* Grid effect with lines */
#carousel .card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;

  background-image: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      transparent var(--line-step1),
      var(--line-c) var(--line-step1),
      var(--line-c) var(--line-step2),
      transparent var(--line-step2),
      transparent var(--line-step3),
      var(--line-c) var(--line-step3),
      var(--line-c) var(--line-step4),
      transparent var(--line-step4),
      transparent 100%
    ),
    repeating-linear-gradient(
      to right,
      transparent 0%,
      transparent var(--line-step1),
      var(--line-c) var(--line-step1),
      var(--line-c) var(--line-step2),
      transparent var(--line-step2),
      transparent var(--line-step3),
      var(--line-c) var(--line-step3),
      var(--line-c) var(--line-step4),
      transparent var(--line-step4),
      transparent 100%
    );

  mask-image: var(--mask), var(--mask-line);
  -webkit-mask-image: var(--mask), var(--mask-line);

  mask-composite: intersect;
  -webkit-mask-composite: intersect;

  /* DEBUGGING STYLE 
  display: none; */
}

/* Glow effect with blur */
#carousel .card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background-image: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      transparent var(--glow-step1),
      var(--glow-c) var(--glow-step1),
      var(--glow-c) var(--glow-step2),
      transparent var(--glow-step2),
      transparent var(--glow-step3),
      var(--glow-c) var(--glow-step3),
      var(--glow-c) var(--glow-step4),
      transparent var(--glow-step4),
      transparent 100%
    ),
    repeating-linear-gradient(
      to right,
      transparent 0%,
      transparent var(--glow-step1),
      var(--glow-c) var(--glow-step1),
      var(--glow-c) var(--glow-step2),
      transparent var(--glow-step2),
      transparent var(--glow-step3),
      var(--glow-c) var(--glow-step3),
      var(--glow-c) var(--glow-step4),
      transparent var(--glow-step4),
      transparent 100%
    );

  filter: blur(3px);

  mask-image: var(--mask), var(--mask-glow);
  -webkit-mask-image: var(--mask), var(--mask-glow);

  mask-composite: intersect;
  -webkit-mask-composite: intersect;

  /* DEBUGGING STYLE  
  display: none; */
}

#carousel .card:nth-child(1) {
  --light-dir: 250deg;
}

#carousel .card:nth-child(2) {
  --light-dir: 210deg;
}

#carousel .card:nth-child(3) {
  --light-dir: 190deg;
}

#carousel .card:nth-child(4) {
  --light-dir: 180deg;
}

#carousel .card:nth-child(5) {
  --light-dir: 170deg;
}

#carousel .card:nth-child(6) {
  --light-dir: 150deg;
}

#carousel .card:nth-child(7) {
  --light-dir: 110deg;
}

#carousel .card .chart-label {
  --text-color: #979797;
  --text-color-light: #d2d2d2;
  --text-color-dark: #3b3b3b;
  --primary-color: #ff0040;
  --secondary-color: #9dfa5f;

  color: var(--text-color-dark);
  font-size: 0.95rem;

  position: absolute;
  top: calc(10% - 1.5em);
  left: calc(10% + 0.5em);
  z-index: 3;

  transition: color 0.6s ease;
}

@keyframes spinLine {
  0% {
    --offset1: -2%;
    --offset2: -2%;
    --offset3: -2%;
  }
  50% {
    --offset1: 75%;
    --offset2: 50%;
    --offset3: 0%;
  }
  100% {
    --offset1: 102%;
    --offset2: 102%;
    --offset3: 102%;
  }
}
