/* Hide scrollbar */
#carousel #cards-container {
  scrollbar-width: none; /* Firefox and latest Chromium */
}
#carousel #cards-container::-webkit-scrollbar {
  display: none; /* Safari and legacy Chromium */
}

#carousel {
  /* 
    @screen-width:320px, card: 200px
    @screen-width:1920px, card: 600px
  */
  --card-size: clamp(200px, 25dvw + 120px, 600px);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: visible;
}

@property --offset1 {
  syntax: "<percentage>";
  initial-value: -2%;
  inherits: false;
}

@property --offset2 {
  syntax: "<percentage>";
  initial-value: -2%;
  inherits: false;
}

@property --offset3 {
  syntax: "<percentage>";
  initial-value: -2%;
  inherits: false;
}

#carousel #cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  /* Disable for JS users */
  flex-wrap: wrap;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100dvw;

  /* Important for swiping */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  /* Perspective settings */
  perspective: calc(var(--card-size) * 1.6);
  perspective-origin: center center;
  transform-style: preserve-3d;

  overscroll-behavior: contain;
  overflow-x: scroll;
  overflow-y: visible;

  --C1: #ff0037;
  --C2: #00ffb9;
  --C3: #e100ff;

  --g1: #620075;
  --g2: #4a2b80;
  --g3: #35518a;
  --g4: #1b8097;
  --g5: #00b0a4;

  /* Line effect settings */
  --text-color-light: #d2d2d2;
  --theme1: #cfc2e3;
  --theme2: #fa3560;

  /* Line */
  --line-thin: 1px;
  --line-c: #9eeafb;
  --line-step1: 10%;
  --line-step2: calc(var(--line-step1) + var(--line-thin));
  --line-step3: 90%;
  --line-step4: calc(var(--line-step3) + var(--line-thin));

  /* Glow */
  --glow-spread: 1px;
  --glow-c: var(--theme1);
  --glow-step1: calc(10% - (var(--glow-spread) / 2));
  --glow-step2: calc(10% + (var(--glow-spread) / 2));
  --glow-step3: calc(90% - (var(--glow-spread) / 2));
  --glow-step4: calc(90% + (var(--glow-spread) / 2));

  /* Line effect settings - animation  */
  /* varying speed: from -2% to -2%; */
  /* timing-function: .53,.83,.5,.24* */
  --time: 10s;
  --delay: 1.5s;
  --timing-function1: cubic-bezier(0.19, 1, 0.22, 1); /* Popup */
  --timing-function2: cubic-bezier(0.34, 1.1, 0.64, 1); /* Dramatic pause */
  --timing-function3: cubic-bezier(0.57, 0.4, 0.5, 1.4); /* Bounce */

  animation-name: spinLine;
  animation-duration: var(--time);
  animation-delay: var(--delay);
  animation-timing-function: var(--timing-function2);
  animation-fill-mode: both;

  --mask: radial-gradient(circle at center, black 50%, transparent 100%);
  --mask-line: conic-gradient(
    rgba(0, 0, 0, 0.3) var(--offset3),
    rgba(0, 0, 0, 1) var(--offset2),
    rgba(0, 0, 0, 0.3) var(--offset1)
  );
  --mask-glow: conic-gradient(
    transparent var(--offset3),
    rgba(0, 0, 0, 0.3) var(--offset2),
    rgba(0, 0, 0, 0.75) var(--offset1),
    rgba(0, 0, 0, 0.3) calc(var(--offset1) + 1%),
    transparent calc(var(--offset1) + 2%)
  );

  /* ! DEBUGGING STYLE 
  display: none; 
  background-color: rgba(0, 4, 255, 0.5);
  border: 2px solid yellow; */
}

@media (max-aspect-ratio: 1/1) {
  #carousel #cards-container {
    /* 
      @screen-width:320px, card: 200px
      @screen-width:1024px, card: 600px
    */
    --card-size: clamp(200px, 57dvw + 18px, 600px);
    perspective: calc(var(--card-size) * 1.6);
  }
}

/* Carousel animation applied to wrapper 1 */
#carousel .card-wrapper-1 {
  flex: 0 0 auto;

  /* Important for swiping */
  scroll-snap-align: center;

  /* Linear movement in the carousel */
  transition: all 600ms linear;
}

/* showUP and spinUp animations when loading the scene */
/* fastFadeIn animation when carousel is playing */
#carousel .card-wrapper-2 {
  /* Initial delay - will reset to fastFadeIn values 
   after initial animations have played */
  animation-duration: 4s;
  animation-delay: 2s;
}

#carousel .card {
  opacity: 1;

  color: rgb(255, 255, 255);
  font-size: calc(var(--card-size) * 0.3);
  padding: 5%;
  position: relative;

  width: var(--card-size);
  height: var(--card-size);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 600ms cubic-bezier(0.34, 1.1, 0.64, 1);

  /* DEBUGGING STYLES 
  display: none;
  background-color: yellow; */
}

/* Grid effect with lines */
#carousel .card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;

  background-image: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      transparent var(--line-step1),
      var(--line-c) var(--line-step1),
      var(--line-c) var(--line-step2),
      transparent var(--line-step2),
      transparent var(--line-step3),
      var(--line-c) var(--line-step3),
      var(--line-c) var(--line-step4),
      transparent var(--line-step4),
      transparent 100%
    ),
    repeating-linear-gradient(
      to right,
      transparent 0%,
      transparent var(--line-step1),
      var(--line-c) var(--line-step1),
      var(--line-c) var(--line-step2),
      transparent var(--line-step2),
      transparent var(--line-step3),
      var(--line-c) var(--line-step3),
      var(--line-c) var(--line-step4),
      transparent var(--line-step4),
      transparent 100%
    );

  mask-image: var(--mask), var(--mask-line);
  -webkit-mask-image: var(--mask), var(--mask-line);

  mask-composite: intersect;
  -webkit-mask-composite: intersect;

  /* DEBUGGING STYLE 
  display: none; */
}

/* Glow effect with blur */
#carousel .card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background-image: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      transparent var(--glow-step1),
      var(--glow-c) var(--glow-step1),
      var(--glow-c) var(--glow-step2),
      transparent var(--glow-step2),
      transparent var(--glow-step3),
      var(--glow-c) var(--glow-step3),
      var(--glow-c) var(--glow-step4),
      transparent var(--glow-step4),
      transparent 100%
    ),
    repeating-linear-gradient(
      to right,
      transparent 0%,
      transparent var(--glow-step1),
      var(--glow-c) var(--glow-step1),
      var(--glow-c) var(--glow-step2),
      transparent var(--glow-step2),
      transparent var(--glow-step3),
      var(--glow-c) var(--glow-step3),
      var(--glow-c) var(--glow-step4),
      transparent var(--glow-step4),
      transparent 100%
    );

  /* It affects glow spread */
  filter: blur(3px);

  mask-image: var(--mask), var(--mask-glow);
  -webkit-mask-image: var(--mask), var(--mask-glow);

  mask-composite: intersect;
  -webkit-mask-composite: intersect;

  /* DEBUGGING STYLE  
  display: none; */
}

#carousel .card .chart-label {
  --text-color-dark: #3b3b3b;

  color: var(--text-color-dark);
  font-size: 0.95rem;

  color: transparent;
  background-image: linear-gradient(to right, #4a2b80 -50%, #fb6082 250%);
  background-clip: text;

  position: absolute;
  top: calc(10% - 1.5em);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  transition: color 0.6s ease;

  /* ! DEBUGGING
  background-color: red; */
}

#carousel #cards-container div:nth-child(4) .chart-label {
  color: transparent;
  background-image: linear-gradient(to right, #eb77fb -50%, #00ffb9 250%);
  background-clip: text;
}

@keyframes spinLine {
  0% {
    --offset1: -2%;
    --offset2: -2%;
    --offset3: -2%;
  }
  35% {
    --offset3: 0%;
  }
  50% {
    --offset1: 80%;
    --offset2: 75%;
    --offset3: 65%;
  }
  100% {
    --offset1: 102%;
    --offset2: 102%;
    --offset3: 102%;
  }
}
