.scramble-text {
  --mask: linear-gradient(
    to bottom,
    black calc(100% - 1.5em),
    transparent calc(100% - 0.5em)
  );

  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 1.5em;
  min-width: calc(100% + 0.5em);

  mask-image: var(--mask);
  -webkit-mask-image: var(--mask);

  padding-top: 0.2em;

  /* Creates perfect squares:
   █ (Full Block) 
   ░ ▒ ▓ (Shade Blocks)
  */
  font-family: "Courier New", monospace;

  /* manually adjusted for better visual effect */
  --char-space: 0.25em;
  --char-width: 1ch;
  line-height: calc(var(--char-width) + var(--char-space) * 2);
  /*letter-spacing: var(--char-space);*/

  word-break: break-all;

  /* ! DEBUGGING
  background-color: purple; */
}
