/* 
 * ELEMENT STYLES 
 */

html {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

body {
  position: relative;
  font-family: var(--font-main);
  color: var(--text-color);
  letter-spacing: var(--xxs);
  text-wrap: balance;
  z-index: 0;
  overflow: hidden !important;
  /* Perspective settings */
  perspective: 2000px;
  perspective-origin: center center;
  transform-style: preserve-3d;
}

nav {
  overflow: hidden;
}

nav a {
  text-transform: uppercase;
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
}

h1 {
  color: var(--text-color-dark);
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.1em;
  text-transform: uppercase;
}

p {
  line-height: 1.5em;
}

a,
a:visited {
  color: var(--text-color);
  text-decoration: none;
  pointer-events: auto;

  /* Slower when hovering out */
  transition:
    color var(--t6) var(--timing-function1),
    background-color var(--t6) var(--timing-function1);
}

a:hover,
a:active,
a:visited:hover {
  color: var(--text-color-light);

  /* Faster when hovering in */
  transition:
    color var(--t3) var(--timing-function1),
    background-color var(--t3) var(--timing-function1);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

footer {
  color: var(--text-color-dark);
  font-style: italic;
  font-size: 0.8rem;
}
