:root {
  /* Colors setting */
  --text-color: #979797;
  --text-color-light: #d2d2d2;
  --text-color-dark: #3b3b3b;
  --primary-color: #ff0037;
  --secondary-color: #00ff22;
  --d3-theme: #ef7234;

  /* Background settings */
  --background-color: #000000;
  --foreground-color: #1f1f1f;
  --spot-light: #6a32d3;
  --spot-light-alpha: #41296e48;

  /* Font settings */
  --font-main: monospace, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --dynamic-font-size: clamp(16px, 0.33vw + 13px, 20px); /* Adjust !*/

  /* Spacing */
  --xs: 0.25rem;
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 2rem;
  --xl: 4rem;

  /* Borders and shadows */
  --border-radius: 4px;
  --box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  /* Page settings */
  --page-max-with: 1920px;
  --page-padding: 0.25vw;

  /* Layout settings */
  --grid-gap: 1vw;

  /* Animation settings */
  /*  Animations' timing functions */
  --time: 0.6s;
  --timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  letter-spacing: 2px;
}

body::before,
body::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

body::before {
  background-color: var(--background-color);
  background-image: conic-gradient(
    transparent 0% 20%,
    var(--spot-light-alpha) 49% 51%,
    transparent 75% 100%
  );
  background-size: 100% 200%;
  background-position: center 98%;
  z-index: -2;

  /* Animation */
  opacity: 0;
  animation-name: lightUp, dim;
  animation-duration: 4s, 2s;
  animation-delay: 1.5s, 8s;
  animation-timing-function: var(--timing-function);
  animation-fill-mode: both, forwards;
}

body::after {
  --gap: 4px;
  background-color: transparent;
  background-image: conic-gradient(
    var(--foreground-color) 0% 25%,
    transparent 25% 100%
  );
  background-size: var(--gap) var(--gap);
  margin-left: calc(var(--gap) * -0.25);
  margin-top: calc(var(--gap) * 0.25);
  z-index: -1;
}

#page-container {
  position: relative;
  flex: 1;
  padding: var(--page-padding) var(--page-padding) 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  gap: var(--grid-gap);
}

.showUp {
  animation-name: showUp;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: var(--timing-function);
  animation-fill-mode: both;
}

.spinUp {
  animation-name: showUp, spinUp;
}

header {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  row-gap: var(--lg);
}

h1 {
  color: var(--text-color-dark);
  font-weight: lighter;
  line-height: 0.95em;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--time) var(--timing-function);
}

a:visited {
  color: var(--text-color);
}

a:hover,
a:active {
  color: var(--primary-color);
}

a:visited:hover {
  color: var(--primary-color);
}

li {
  list-style: none;
}

nav {
  overflow: hidden;
}

.nav-link {
  width: fit-content;
  transition: transform 0.6s ease;
}

.nav-link.pushed {
  transform: translateX(1.1em);
}

.nav-link:hover {
  transform: translateX(1.1em);
}

nav a {
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
}

nav .arrow-right {
  margin-right: var(--sm);
  position: absolute;
  left: -1.1em;
  font-size: 1.1em;
}

#info {
  color: var(--text-color-dark);
  grid-column: 3 / 4;

  width: 66%;
  height: 100%;
  position: relative;
  overflow: visible;
}

#chart-container {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tooltip {
  background-color: rgba(39, 24, 10, 0.75);
  color: white;
  font-size: 0.95rem;
  text-align: left;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 3px 5px 10px 2px rgba(39, 24, 10, 0.75);
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.tick {
  font-size: 0.7rem;
}

#title,
#description {
  color: rgb(69, 69, 71);
  text-align: center;
  font-size: 3rem;

  margin: 0.3em;
}

#description {
  font-size: 1.2rem;
}

/* FOOTER */

footer {
  color: var(--text-color-dark);
  font-size: 0.85rem;
  font-style: italic;
  padding: var(--sm) var(--page-padding);
  display: flex;
  align-items: center;
  gap: var(--lg);

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: 100%;

  /* DEBUGGING STYLES 
  background-color: red;
  border: 1px solid yellow; */
}

.social-icon svg {
  fill: currentColor;
}

.social-icon a {
  color: inherit;
  display: flex;
  align-items: center;
  gap: var(--sm);
}

.social-icon a:hover {
  color: var(--text-color-light);
}

#author {
  transition: color var(--time) var(--timing-function);
  height: fit-content;
}

/* ANIMATIONS */

@keyframes lightUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes dim {
  from {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    color: 1;
  }
}

@keyframes spinUp {
  from {
    transform: translate(70px, 70px);
  }
  to {
    transform: translate(0, 0);
  }
}
