/*
 * PAGE LAYOUT
 */
#page-container {
  /* ! Important to avoid horizontal scrolling
   - carousel's width often overflows viewport's */
  overflow: hidden !important;

  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  padding: var(--page-padding);
  z-index: 1;
}

#page-container.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "title title title"
    ". . info"
    "carousel carousel carousel"
    ". . footer";
  gap: var(--xs);
  height: 100%;
}

#navbar {
  grid-column: 1;
  grid-row: 2 / 4;
  z-index: 1000;
}

#title-container {
  grid-area: title;
  z-index: 6;
  pointer-events: none !important;
}

#info {
  grid-area: info;
  z-index: 3;
}

#carousel {
  grid-area: carousel;
  z-index: 1;

  /* ! BUILDING 
  visibility: hidden; */
}

#footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "contact social";
  gap: var(--xs);
  height: 100%;
  z-index: 2;
}

#contact {
  grid-area: contact;
}

#social-icons {
  grid-area: social;
}

@media screen and (max-width: 1280px) {
  #page-container.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      ". info"
      "carousel carousel"
      ". footer";
  }

  #footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "contact social";
  }
}

@media screen and (max-width: 835px) {
  /* --------- Small devices ------------ */
  #page-container.grid {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "title"
      "info"
      "carousel"
      "footer";
  }

  #title-container {
    flex-direction: column;
  }

  #title {
    text-align: left !important;
  }
}

@media screen and (max-height: 600px) {
  /* --------- Small devices ------------ */
  #info {
    display: none;
  }
}

/* 
 * SECTION STYLES
 */

/* NAVBAR */

#navbar {
  position: relative;
  overflow: visible;
  letter-spacing: var(--xs);
  pointer-events: none; /* ! Revert for small screens */
}

#navbar ul {
  gap: var(--xxs);
}

#navbar .nav-link {
  position: relative;

  /* Slower transition when hovering out */
  transition: transform var(--t6) var(--timing-function1);
}

#navbar .nav-link.pushed,
#navbar .nav-link:hover {
  /* Faster transition when hovering in */
  transition: transform var(--t4) var(--timing-function1);
}

#navbar .arrow-right {
  pointer-events: none; /* disable focus */
  color: transparent;
  background-image: var(--gradient1);
  background-clip: text;
  font-size: 1.1em;
  transition: transform var(--t4) var(--timing-function1);
  position: absolute;
  /* ! Important: use display inline-block
     ! when applying transforms
     ! if position is relative  */
}

@media screen and (orientation: landscape) {
  #navbar {
    width: fit-content;
    padding-right: 1em;
  }

  #navbar ul {
    height: 100%;
  }

  #navbar .nav-link {
    width: fit-content;
  }

  #navbar .nav-link.pushed,
  #navbar .nav-link:hover {
    transform: translateX(1em);
  }

  #navbar .arrow-right {
    top: -0.125em;
    right: -1.25em;
  }

  #navbar .nav-link:hover .arrow-right {
    transform: translateX(0.2em);
  }
}

@media screen and (orientation: portrait) {
  #navbar {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    writing-mode: sideways-lr;
    height: fit-content;
    width: 100%;

    align-self: end;
    justify-self: center;
    padding-top: 1em;
    bottom: 2rem;
  }

  #gallery-page:has(#chart-section.snapped) #navbar {
    width: calc(100% - var(--page-padding) * 3);
  }

  #navbar ul {
    width: 100%;
  }

  #navbar .nav-link {
    height: fit-content;
  }

  #navbar .nav-link.pushed,
  #navbar .nav-link:hover {
    transform: translateY(-1em);
  }

  #navbar .arrow-right {
    top: -1.25em;
    left: -0.125em;
  }

  #navbar .nav-link:hover .arrow-right {
    transform: translateY(-0.2em);
  }

  #navbar a {
    display: flex;
    flex-direction: column-reverse;
  }
}

#navbar a {
  color: var(--text-color-dark);
}

#navbar .nav-link.pushed a {
  color: var(--text-color);
}

#navbar a:hover,
#navbar a:active {
  color: var(--text-color-light) !important;
}

/* TITLE */

#title-container {
  --description-size: 0.5rem; /* Ornamental text */

  column-gap: var(--description-size);
  flex-wrap: wrap;
  padding-bottom: var(--page-padding);
}

#title,
#title-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /* ! Set via JS - impossible to use CSS alone */

  /* Letter spacing:
    @viewport width: 320px = 0.5em ~ @835 = 2em
    @viewport width: 836px = 1em ~ @1920 = 2em
  */

  /*
  CSS: "I can't divide viewport units by pixels, that's impossible!"
  JavaScript: "Hold my coffee... window.innerWidth / 1084 - DONE." ☕
  */
}

#title {
  position: relative;
  color: var(--text-color);
  text-align: right;
}

#title-description {
  font-size: var(--description-size);
  text-transform: uppercase;
  font-weight: bolder;
}

/* INFO STYLES @ /assets/text-scramble/styles.css */
#info {
  color: var(--text-color-dark);
  height: 100%;
  position: relative;
  overflow: visible;

  cursor: crosshair;

  /* Slower when hovering out */
  transition:
    color var(--t9) var(--timing-function1),
    background-color var(--t9) var(--timing-function1);
}

#info:hover {
  color: var(--text-color);

  /* Faster when hovering in */
  transition:
    color var(--t6) var(--timing-function1),
    background-color var(--t6) var(--timing-function1);
}

#info::before {
  /* Create a placeholder that reserves space in the grid layout */
  content: attr(data-target-text);
  /* Use the target text content only to reserve space */
  visibility: hidden;
  display: block;
}

/* CAROUSEL STYLES @ /assets/carousel/styles.css */

#carousel {
  align-self: end;
  width: 100%;
  height: 100%;
}

/*
 * CHART
 */

/* ! BUILDING:
#chart-section {
  background-color: red;
}

#chart-modal {
  background-color: yellow;
}

#chart-modal-content {
  background-color: blue;
}

#chart-container {
  background-color: deeppink;
}

#chart {
  background-color: chartreuse;
}

#legend {
  background-color: rgba(0, 255, 255, 1);
}
*/

#chart-section {
  --text-color-darker: #869bc563;
  --text-color-dark: #b0cafdb8;
  --text-color: #c6d7fa;
  --text-color-light: white;

  --svg-ratio: 1.6;
  --snap-threshold: 0.3; /* When to trigger snap */
  --snapping-to-duration: var(--t6);
  --snapping-from-duration: var(--t4);
  --border-width: 0.325rem;
  --chart-padding: calc(var(--page-padding) * 2);
  --horizon: 50dvh; /* Updated @carousel setHorizon() */

  --transition-duration: var(--t9);
  --transition: opacity var(--transition-duration) var(--timing-function1),
    visibility var(--transition-duration) var(--timing-function1);
}

#page-container:has(#chart-section.chart-viewport.snapped) #title-container {
  transform: translateY(calc(var(--page-padding) + 0.325rem));
}

#page-container:has(#chart-section.chart-viewport.snapped) #navbar:hover {
  --text-color-dark: #b0cafdb8;
  --text-color: #c6d7fa;
  --text-color-light: white;
}

#page-container:has(#navbar:hover) #chart-section.chart-viewport.snapped,
#page-container:has(#chart-section.chart-viewport.snapped) #navbar {
  --text-color-dark: #869bc543;
  --text-color: #869bc5df;
  --text-color-light: #bdd2fd;
}

#page-container:has(#navbar:hover)
  #chart-section.chart-viewport.snapped
  #chart-title-container {
  filter: blur(1px);
}

#chart-section.chart-viewport {
  position: fixed;
  top: 50%;
  left: 50%;

  /* ! TOP LEFT, instead of center center!*/
  transform-origin: top left !important;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: all var(--snapping-from-duration) var(--timing-function1);
  box-shadow: 5px 5px 30px 10px var(--shadow-c4);

  z-index: 4;

  /* BUILDING
  background-color: hsla(0, 0%, 14%, 0.565);
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  */
}

@media screen and (min-aspect-ratio: 1009/630) {
  #chart-section.chart-viewport {
    --offset: calc(3rem + 10dvw);
    --base: 75dvh;

    height: var(--base);
    width: min(85dvw, calc(var(--base) * 1.7 + var(--offset)));
  }
}

@media screen and (max-aspect-ratio: 1008/630) {
  #chart-section.chart-viewport {
    --offset: calc(3rem + 20dvh);
    --base: 85dvw;

    width: var(--base);
    height: min(85dvh, calc(var(--base) / 1.7 + var(--offset)));
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  #chart-section:not(.snapped),
  #chart-section:not(.snapped) #chart-footer {
    font-size: 0.8rem;
  }

  #chart-section:not(.snapped) #chart-title {
    letter-spacing: 0 !important;
  }

  #chart-section #chart-title-description {
    display: none;
  }

  #navbar {
    pointer-events: auto;
    transition: transform var(--t6) var(--t1) var(--timing-function1);
  }

  #navbar:hover {
    transition: transform var(--t4) var(--timing-function1);
  }

  #navbar ul {
    align-items: flex-end;
  }

  #navbar a {
    position: relative;
  }

  @media screen and (orientation: landscape) {
    #navbar {
      transform: translateX(-93%);
    }

    #navbar:hover {
      transform: translateX(0);
    }

    #navbar .arrow-right {
      right: -1.25em;
    }
  }

  @media screen and (orientation: portrait) {
    #navbar {
      transform: translateY(110%);
    }

    #navbar:hover {
      transform: translateY(35%);
    }

    #navbar .arrow-right {
      top: -1.25em;
    }
  }

  #gallery-page:has(#chart-section.viewport-visible) #tooltip {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

@media screen and (max-width: 350px), screen and (max-height: 350px) {
  #chart-section:not(.snapped),
  #chart-section:not(.snapped) #chart-footer {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 320px), screen and (max-height: 320px) {
  #chart-section,
  #chart-title,
  #tooltip * {
    font-size: 0.8rem !important;
  }

  #chart-section #chart-title,
  #chart-section #chart-footer {
    letter-spacing: 0;
  }

  #chart-controls .chart-control-btn svg {
    width: 0.6rem;
    height: 0.6rem;
  }
}

/* CHART SNAPPED */
#chart-section.chart-viewport.snapped {
  pointer-events: initial;
  width: calc(100% - var(--border-width) * 2);
  height: calc(100% - var(--border-width) * 2);
  transition: all var(--snapping-to-duration) var(--timing-function1);
  backdrop-filter: blur(12px) grayscale(50%);

  background-color: #0f0a12;
}

#chart-controls {
  position: absolute;
  top: var(--chart-padding);
  right: var(--chart-padding);

  display: flex;
  gap: var(--md);
  z-index: 2;
}

#chart-controls .chart-control-btn {
  color: var(--g9);
  cursor: pointer;
  line-height: 0; /* Eliminate the bottom "padding" */

  /* Slower when hovering out */
  transition: all var(--t6) var(--timing-function1);
}

#chart-controls .chart-control-btn:hover {
  color: var(--text-color-light);
  transform: scale(1.05);

  /* Faster when hovering in */
  transition: all var(--t3) var(--timing-function1);
}

#chart-controls .chart-control-btn svg {
  fill: currentColor;
  width: 0.85rem;
  height: 0.85rem;
}

#chart-section.snapped #chart-controls .chart-control-btn svg {
  width: 1rem;
  height: 1rem;
}

/* Hide minimize when not snapped */
#chart-section.chart-viewport #chart-minimize {
  display: none;
}

/* Hide maximize when snapped */
#chart-section.chart-viewport.snapped #chart-maximize {
  display: none;
}

/* Show minimize when snapped */
#chart-section.chart-viewport.snapped #chart-minimize {
  display: initial;
}

#chart-modal {
  width: 100%;
  height: 100%;

  z-index: 1;

  /* Reset browser presets */
  max-width: initial;
  max-height: initial;
  border: none;
  outline: none;
  background-color: initial;
}

/* Hidden by default */
#chart-section.chart-viewport,
#chart-modal,
#chart-modal.chart-loading {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

#chart-section.chart-viewport.viewport-visible,
#chart-section.chart-viewport.viewport-visible #chart-modal.chart-loaded {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#chart-modal-content {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 1fr;
  grid-template-areas: "title chart footer";
  padding: var(--chart-padding);
}

#chart-title-container {
  grid-area: "title";
  z-index: 7;
}

#chart-container {
  grid-area: "chart";
  justify-self: center;
  align-self: center;
}

#chart-footer {
  grid-area: "footer";
}

#chart-title-container,
#chart-footer {
  height: 100%;
  pointer-events: none; /* ! Revert links to auto */
  text-align: center;
}

#chart-title,
#chart-title-description {
  /* Slower when hovering out */
  transition: all var(--t6) var(--timing-function1);
}

#page-container:has(#navbar:hover)
  #chart-section.chart-viewport.snapped
  #chart-title,
#page-container:has(#navbar:hover)
  #chart-section.chart-viewport.snapped
  #chart-title-description {
  /* Faster when hovering in */
  transition: all var(--t3) var(--timing-function1);
}

#chart-footer a {
  pointer-events: initial;
}

/* TEXT ORIENTATION: vertical when chart is landscape orientation */
#chart-title,
#chart-title-description,
#chart-footer {
  writing-mode: sideways-lr;
}

#chart-title-container {
  flex: 1;
  min-width: 0;
  min-height: 0;
  gap: var(--sm);
}

#chart-title,
#chart-title-description {
  text-align: center;
  text-wrap: balance;
}

#chart-title {
  letter-spacing: 0.5rem;
}

#chart-title-description,
#chart-footer a {
  color: var(--text-color);
}

#chart-footer a:hover,
#chart-footer a:active {
  color: white;
}

/* TEXT ORIENTATION: horizontal when chart is portrait orientation */
@media (max-aspect-ratio: 1.6) {
  #chart-modal-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title"
      "chart"
      "footer";
  }

  #page-container:has(#chart-section.snapped) #title-container,
  #page-container:has(#chart-section.snapped) #info {
    z-index: 3;
    opacity: 0 !important;
  }

  #chart-title-container {
    flex-direction: column;
    transform: translateY(1.5rem); /* Avoid overlapping #chart-controls */
  }

  #chart-title,
  #chart-title-description,
  #chart-footer {
    writing-mode: unset;
    text-orientation: unset;
  }

  #chart-title-container,
  #chart-footer {
    width: 100%;
    height: initial;
  }
}

#chart-container {
  --cc-padding: 2dvw;
  position: relative;
  width: var(--chart-width); /* Set by JS */
  height: var(--chart-height); /* Set by JS */
  padding: var(--cc-padding);

  opacity: 0;
  transition: none;
}

#chart-container.chart-loaded {
  opacity: 1;
  transition: var(--transition);
}

#legend {
  --padding: 1rem;
  --width: 15rem;
  --height: 0.5rem;

  position: absolute;
  bottom: -0.25rem;
  right: var(--cc-padding); /* chart-container's padding */

  width: calc(var(--width) + var(--padding) * 1.5);
  height: calc(var(--height) + var(--padding) * 1.5);

  z-index: 2;
  pointer-events: none;
  transition: none;
}

#tooltip {
  /* Some tooltip styles are defined at chart's styles */
  position: fixed;
  top: -100dvh;
  left: -100dvw;
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 1.5em;
  margin: 0.5em;
  overflow: visible;
  z-index: 9999 !important;
  border-radius: var(--xs);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 10s var(--timing-function1);

  /* ! BUILDING 
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  visibility: visible;
  opacity: 1;
  */
}

#tooltip-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#tooltip-footer {
  font-style: italic;
  justify-self: flex-end;
  text-align: center;
}

#chart text,
#chart .axis,
#legend {
  font-family: var(--font-main);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: lighter;
  stroke-width: 0.75;
  fill: none;
  color: var(--text-color-darker);
  stroke: currentColor;
  transition: all var(--t8) var(--timing-function1);
}

#chart text,
#legend text {
  fill: currentColor;
  stroke-width: 0;
}

#gallery-page:has(#chart:hover) #legend,
#chart:hover text,
#chart:hover .axis {
  color: var(--text-color-dark);
  transition: all var(--t4) var(--timing-function1);
}

/*
 * FOOTER STYLES
 */

#footer {
  display: flex;
  color: var(--text-color-light);
  background-color: var(--shadow-c4);
}

#footer * {
  flex: 1;
}

#footer span,
#footer a {
  padding: var(--xs);
}

#footer #contact a,
#footer #contact a:visited {
  color: var(--text-color-light); /* var(--g7); */
  background-color: var(--shadow-c4);
}

#footer #contact a:hover,
#footer #contact a:active,
#footer #contact a:visited:hover {
  color: var(--c1);
  background-color: var(--g7);
}

#footer #source-code a,
#footer #source-code a:visited {
  color: var(--text-color-light); /* var(--g7); */
  background-color: var(--shadow-c4);
}

#footer #source-code a:hover,
#footer #source-code a:active,
#footer #source-code a:visited:hover {
  color: var(--c1);
  background-color: var(--g7);
}

#footer .footer-section {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: flex-start;

  gap: var(--xs);
  flex-wrap: wrap;
  /* Required for wrapped items' alignment */
  align-content: flex-start;
}

#footer .footer-section span {
  display: block;
  width: fit-content;
  height: fit-content;
}

#footer .social-icon {
  flex: 1;
  width: 100%;
  display: flex;
}

#footer .social-icon a {
  display: flex;
  align-items: center;
  gap: var(--sm);
}

#footer .social-icon svg {
  fill: currentColor;

  flex: revert;
  width: 1rem;
  height: 1rem;
}

#contact {
  margin-right: auto;
}
