/*
 * PAGE LAYOUT
 */
#page-container {
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  padding: var(--page-padding);
  z-index: 1;
  /* ! Important to avoid horizontal scrolling
   - carousel's width often overflows viewport's */
  overflow: hidden;
}

#carousel {
  z-index: 2;
}

#navbar,
#title-container,
#footer {
  z-index: 3;
}

#info {
  z-index: 4;
}

#page-container.grid {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    ". title title ."
    ". . . info"
    "carousel carousel carousel carousel"
    ". . . footer";
  gap: var(--xs);
  height: 100%;
}

#navbar {
  grid-column: 1;
  grid-row: 2 / 4;
  z-index: 1002;
}

#title-container {
  grid-area: title;
}

#info {
  grid-area: info;
}

#carousel {
  grid-area: carousel;
}

#footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "contact social";
  gap: var(--xs);
  height: 100%;
}

#contact {
  grid-area: contact;
}

#social-icons {
  grid-area: social;
}

@media screen and (orientation: portrait) {
  #page-container.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "navbar info"
      "carousel carousel"
      "footer footer";
  }

  #footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "contact social";
  }
}

@media screen and (max-width: 743px) and (orientation: portrait) {
  /* --------- Small devices ------------ */
  #page-container.grid {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
      "title"
      "info"
      "navbar"
      "carousel"
      "footer";
  }

  #title-container,
  #info {
    margin: var(--md) 0;
  }

  #footer {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-height: 743px) and (orientation: landscape) {
  /* --------- Small devices ------------ */
  #page-container.grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "navbar title title title"
      "navbar info info info"
      "carousel carousel carousel carousel";
  }

  #footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". contact social social";
    position: absolute;
    left: var(--page-padding);
    right: var(--page-padding);
    bottom: var(--page-padding);
    height: fit-content !important;
  }

  #social-icons {
    justify-self: end;
  }
}

/* 
 * SECTION STYLES
 */

/* NAVBAR */

#navbar {
  width: 100%;
  padding-right: 2rem;
  position: relative;
  overflow: visible;
}

#navbar ul {
  height: 100%;
  gap: var(--xxs);
}

#navbar .nav-link {
  width: fit-content;
  position: relative;
  /* Slower transition when returning (hover-out) */
  transition: transform var(--t8) var(--timing-function1);
}

#navbar .nav-link.pushed {
  transition: transform var(--t6) var(--timing-function1);
  transform: translateX(1.1em);
}

#navbar .nav-link:hover {
  /* Faster transition when hovering (hover-in) */
  transition: transform var(--t6) var(--timing-function1);
  transform: translateX(1.1em);
}

#navbar .arrow-right {
  color: transparent;
  background-image: var(--gradient1);
  background-clip: text;
  margin-right: var(--sm);
  position: absolute;
  left: -1.35em;
  font-size: 1.1em;
  transform: translateX(-0.5em);
  transition: transform var(--t3) var(--timing-function3);
}

#navbar .nav-link:hover .arrow-right {
  transform: translateX(0.25rem);
}

#navbar a {
  color: var(--text-color-dark);
}

#navbar .nav-link.pushed a {
  color: var(--text-color);
}

#navbar a:hover,
#navbar a:active {
  color: var(--text-color-light);
}

/* TITLE */

#title-container {
  gap: var(--lg);
  margin-bottom: var(--md);
}

#title-container,
#navbar {
  letter-spacing: var(--xs);
}

#title {
  color: var(--text-color);
  letter-spacing: 2rem;
  position: relative;
  padding-bottom: var(--page-padding);
}

/* INFO STYLES @ /assets/text-scramble/styles.css */
#info {
  color: var(--text-color-dark);
  height: 100%;
  position: relative;
  overflow: visible;

  cursor: crosshair;

  /* Slower when hovering out */
  transition:
    color var(--t9) var(--timing-function1),
    background-color var(--t9) var(--timing-function1);
}

#info:hover {
  color: var(--text-color);

  /* Faster when hovering in */
  transition:
    color var(--t6) var(--timing-function1),
    background-color var(--t6) var(--timing-function1);
}

#info::before {
  /* Create a placeholder that reserves space in the grid layout */
  content: attr(data-target-text);
  /* Use the target text content only to reserve space */
  visibility: hidden;
  display: block;
}

/* CAROUSEL STYLES @ /assets/carousel/styles.css */

#carousel {
  align-self: end;
  width: 100%;
  height: 100%;
}

/*
 * CHART
 */

#chart-section {
  --svg-ratio: 1.6;
  --snap-threshold: 0.3; /* When to trigger snap */
  --snapping-to-duration: var(--t6);
  --snapping-from-duration: var(--t4);
  --border-width: 0.325rem;

  --text-color-dark: #869bc582;
  --text-color: #bdd2fd;
  --text-color-light: white;

  --transition-duration: var(--t9);
  --transition: opacity var(--transition-duration) var(--timing-function1),
    visibility var(--transition-duration) var(--timing-function1);
}

#chart-section.chart-viewport {
  position: fixed;
  top: 50%;
  left: 50%;

  /* ! CAUTION: hight and width must have same viewport ratio
   since media query aspect ratio is based on viewport dimensions  */
  width: 75%; /* ! CAUTION */
  height: 75%; /* ! CAUTION */

  /* ! TOP LEFT, instead of center center!*/
  transform-origin: top left !important;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: all var(--snapping-from-duration) var(--timing-function1);
  box-shadow: 5px 5px 30px 10px var(--shadow-c4);

  z-index: 1000;
  /* ! pointer-events: none;  Revert to auto when snapped */
}

/* CHART SNAPPED */
#chart-section.chart-viewport.snapped {
  pointer-events: initial;
  width: calc(100% - var(--border-width) * 2);
  height: calc(100% - var(--border-width) * 2);
  background-image: var(--gradient2);
  transition: all var(--snapping-to-duration) var(--timing-function1);
  backdrop-filter: blur(12px) grayscale(50%);
}

/* ! EDITING *******************************/

#chart-navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--page-padding);

  width: fit-content;
  overflow: visible;

  z-index: 6;

  transform: translateX(calc(-100% - var(--page-padding)));
  /* Slower transition when returning (hover-out) */
  transition: transform 2s var(--timing-function1);

  /* ! DEBUGGING  
  background-color: blue; */
}

#chart-navbar::before {
  /* Increase hovering area */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  right: -1.25rem;

  z-index: -1;
  cursor: pointer;

  /* Screen effect */
  /*  #230008a4 */
  background-color: #23000865;

  box-shadow:
    /* Outer shadow */
    3px 5px 10px 2px #230008c2,
    /* top/left */ inset 1px 1px 1px #5e848d,
    /* all around */ inset 0 0 7px 2px #23000886,
    /* bottom/right */ inset -1px -1px 1px #35518a;

  border: 1px solid black;
  backdrop-filter: grayscale(30%) contrast(1.1) blur(1.5px);

  /* ! DEBUGGING: 
  background-color: rgba(255, 255, 0, 0.355); */
}

#chart-navbar:hover {
  /* Faster transition when hovering (hover-in) */
  transition: transform 1.25s var(--timing-function1);
  transform: translate(0) !important;
}

#chart-navbar ul {
  position: relative;
  align-items: flex-end;
  /* ! DEBUGGING:
  background-color: rgba(255, 255, 0, 0.456); */
}

#chart-navbar .arrow-right {
  left: unset;
  right: -2em;

  /* ! DEBUGGING  
  background-color: blue; */
}

#chart-navbar .nav-link:hover .arrow-right {
  transform: translateX(0);
}

/* ! EDITING *******************************/

#chart-modal {
  width: 100%;
  height: 100%;

  /* Reset browser presets */
  max-width: initial;
  max-height: initial;
  border: none;
  outline: none;
  background-color: initial;

  /*  ! DEBUGGING
  background-color: yellow; */
}

/* Hidden by default */
#chart-section.chart-viewport,
#chart-modal,
#chart-modal.chart-loading {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

#chart-section.chart-viewport.viewport-visible,
#chart-section.chart-viewport.viewport-visible #chart-modal.chart-loaded {
  opacity: 1;
  visibility: visible;
}

#chart-modal-content {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "title chart footer";
  row-gap: var(--md);
  column-gap: var(--lg);
  padding: calc(var(--page-padding) * 2);
}

#chart-title-container {
  grid-area: "title";
}

#chart-container {
  grid-area: "chart";
}

#chart-footer {
  grid-area: "footer";
}

#chart-title-container,
#chart-footer {
  height: 100%;
  z-index: 2;
  pointer-events: none; /* ! Revert to auto for links */
}

/*
#chart-title,
#chart-footer {
  color: var(--text-color);
}
  */

#chart-footer a {
  pointer-events: initial;
}

/* TEXT ORIENTATION: vertical when chart is landscape orientation */
#chart-title,
#chart-title-description,
#chart-footer {
  writing-mode: sideways-lr;
}

#chart-title-container {
  flex: 1;
  min-width: 0;
  min-height: 0;
  gap: var(--sm);
}

#chart-title,
#chart-title-description {
  text-align: center;
  text-wrap: balance;
}

#chart-title {
  letter-spacing: 0.5rem;
}

#chart-title-description,
#chart-footer a {
  color: var(--text-color);
}

#chart-footer a:hover,
#chart-footer a:active {
  color: white;
}

/* TEXT ORIENTATION: horizontal when chart is portrait orientation */
@media (max-aspect-ratio: 1.6) {
  #chart-modal-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title"
      "chart"
      "footer";
  }

  #chart-title-container {
    flex-direction: column;
  }

  #chart-title,
  #chart-title-description,
  #chart-footer {
    writing-mode: unset;
    text-orientation: unset;
  }

  #chart-title-container,
  #chart-footer {
    width: 100%;
    height: initial;
  }
}

#chart {
  width: var(--chart-width); /* Set by JS */
  height: var(--chart-height); /* Set by JS */

  /* ! DEBUGGING
  background-color: blue;
  */
}

#legend {
  z-index: 2;
  pointer-events: none;

  /* ! DEBUGGING */
  background-color: red;
  width: 16rem; /* ! TODO: REMOVE THIS AFTER DEBUGGING ! */
  height: 0.75rem; /* ! TODO: REMOVE THIS AFTER DEBUGGING ! */
  display: none;
}

#legend-svg {
  --padding: 14px; /* ! EDITING */
  --length: 250px; /* ! EDITING */

  width: calc(var(--length) + var(--padding) * 2);
  height: calc(8px + var(--padding) * 1.5);
}

#legend .tick {
  font-size: 0.7rem;
}

#tooltip {
  /* Some tooltip styles are defined at chart's styles */
  position: fixed;
  top: -1000px;
  left: -1000px;
  padding: 1.5rem;
  font-size: 0.65rem;
  line-height: 1.3;
  overflow: visible;
  z-index: 1001;
  border-radius: var(--xs);

  /*visibility: hidden;*/
  opacity: 0;
  pointer-events: none;
  transition: opacity 10s var(--timing-function1);
}

#tooltip-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#tooltip-footer {
  font-style: italic;
  justify-self: flex-end;
}

/*
 * FOOTER STYLES
 */

#footer {
  display: flex;
  color: var(--text-color-light);
  background-color: var(--shadow-c4);
}

#footer * {
  flex: 1;
}

#footer span,
#footer a {
  padding: var(--xs);
}

#footer a,
#footer a:visited {
  color: var(--c1);
  background-color: var(--g9);
}

#footer a:hover,
#footer a:active,
#footer a:visited:hover {
  background-color: var(--g7);
}

#footer .footer-section {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: flex-start;

  gap: var(--xs);
  flex-wrap: wrap;
  /* Required for wrapped items' alignment */
  align-content: flex-start;
}

#footer .footer-section span {
  display: block;
  width: fit-content;
  height: fit-content;
}

#footer .social-icon {
  flex: 1;
  width: 100%;
  display: flex;
}

#footer .social-icon a {
  display: flex;
  align-items: center;
  gap: var(--sm);
}

#footer .social-icon svg {
  fill: currentColor;

  flex: revert;
  width: 1rem;
  height: 1rem;
}

#contact {
  margin-right: auto;
}
